@use "@/styles/variables.scss" as vars;

.container {
  width: 100%;
  height: 100vh;
  padding: 60px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --color: #e1e1e1;
  background-color: #ffffff;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.progressContainer {
  width: 75%;
}

.section {
  width: 100%;
}
