$black-color: #000000;
$dark-color: #191a23;
$darkgray-color: #898989;
$grey-color: #f3f3f3;
$white-color: #ffffff;
$primary-color: #b9ff66;
$red-color: #f2656b;
$disabled-color: #cecece;

$word-common-color: #d7b995;
$word-rare-color: #7eb2ee;
$word-epic-color: #cb7ffb;
$word-unique-color: #fec119;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 40px;
$font-size-h4: 32px;
$font-size-h5: 24px;

$font-size-p1: 20px;
$font-size-p2: 16px;

$box-shadow: 0px 5px 0px 0px #191a23;
