$black-color: #000000;
$dark-color: #191a23;
$darkgray-color: #898989;
$grey-color: #f3f3f3;
$white-color: #ffffff;
$primary-color: #b9ff66;
$red-color: #f2656b;
$disabled-color: #cecece;

$word-common-color: #d7b995;
$word-rare-color: #7eb2ee;
$word-epic-color: #cb7ffb;
$word-unique-color: #fec119;

// $font-size-h1: 64px;
// $font-size-h2: 48px;
// $font-size-h3: 40px;
// $font-size-h4: 32px;
// $font-size-h5: 24px;

// $font-size-p1: 20px;
// $font-size-p2: 16px;

$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.5rem;

$font-size-p1: 1.25rem;
$font-size-p2: 1rem;

$box-shadow: 0 0.3125rem 0 #191a23;

$border: 0.1rem solid #191a23;
