@use "../../styles/variables.scss" as vars;

// 모달 스타일
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  position: relative;
  background-color: vars.$white-color;
  border: vars.$border;
  border-radius: 8px;
  padding: 40px 20px;
  width: auto;
  min-width: 500px;
  box-shadow: vars.$box-shadow;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: url("/icons/cross-block.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;

  &:hover {
    background-image: url("/icons/cross-blockB.svg");
  }
}

// 프로그레스 바 스타일
.progressContainer {
  width: 100%;
  height: 20px;
  background-color: vars.$grey-color;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  transition: width 0.1s linear;
  border-radius: 10px 0 0 10px;

  &.low {
    background-color: vars.$primary-color;
  }

  &.medium {
    background-color: vars.$word-unique-color;
  }

  &.high {
    background-color: vars.$red-color;
  }
}
