@use "../../styles/variables.scss" as vars;

.headerContainer {
  display: flex;
}

.backIcon {
  background: url("/icons/chevron-left.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;

  &:hover {
    background-image: url("/icons/chevron-double-left.svg");
  }
}
