@use "@/styles/variables.scss" as vars;

.headerContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 8px;
}

.backButton {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: vars.$font-size-p1;

  &:hover {
    font-weight: bold;
  }

  &:hover .backIcon {
    background-image: url("/icons/chevron-double-left.svg");
    transform: scale(1.5);
  }
}

.backIcon {
  width: 24px;
  height: 24px;
  background: url("/icons/chevron-left.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: 4px;

  &:hover {
    text-decoration: underline;
  }
}

// 기본 버튼 스타일 제거
.buttonReset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.infoContainer {
  height: 280px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.infoMain {
  position: relative;
  background-color: vars.$grey-color;
  width: 75%;
  border-radius: 24px;
  height: 280px;
  padding: 24px;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;

  &.flip {
    transform: rotateY(90deg);
  }
}

.infoMainContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  backface-visibility: hidden;
}

.infoMainBack {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.description {
  color: vars.$darkgray-color;
  font-size: vars.$font-size-p2;
}

.infoIcon {
  width: 32px;
  height: 32px;
  background: url("/icons/info-octagon.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

.illustration {
  position: absolute;
  bottom: -5%;
  right: 5%;
}

.detailButton {
  width: fit-content;
  display: flex;
  gap: 4px;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes rainbowBorder {
  0% {
    border-color: #ff0000; // 빨간색
  }
  16.66% {
    border-color: #ff7f00; // 주황색
  }
  33.33% {
    border-color: #ffff00; // 노란색
  }
  50% {
    border-color: #00ff00; // 초록색
  }
  66.66% {
    border-color: #0000ff; // 파란색
  }
  83.33% {
    border-color: #4b0082; // 남색
  }
  100% {
    border-color: #8b00ff; // 보라색
  }
}

.startButton {
  border: 4px solid;
  animation: rainbowBorder 3s linear infinite;
}

.leftButton {
  width: 32px;
  height: 32px;
  background: url("/icons/chevron-left.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;

  &:hover {
    background-image: url("/icons/chevron-double-left.svg");
    transform: scale(1.5);
  }
}

.rightButton {
  width: 32px;
  height: 32px;
  background: url("/icons/chevron-right.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;

  &:hover {
    background-image: url("/icons/chevron-double-right.svg");
    transform: scale(1.5);
  }
}

.readyButton {
  width: 25%;
  border-radius: 19px;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.playerContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 260px));
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 75%;
  margin: auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 12px;
  height: 160px;
  border: vars.$border;
  border-radius: 12px;
  background-color: vars.$white-color;
  position: relative;
  z-index: 1;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: vars.$font-size-p2;
}

.inputContainer {
  display: flex;
  padding-top: 8px;
  gap: 12px;
}

.inputContainer > :first-child {
  flex: 10;
}

.inputContainer > :last-child {
  flex: 1;
}
